.comments-section {
}

.new-comment-container {
  display: flex;
  align-items: center;
  min-height: 90px;
}

.comment__avatar {
  max-width: 50px;
  margin: 10px;
}

.comment__author {
  float: left;
}

.comment__date {
  float: right;
}

.comment_content,
.comment__input {
  resize: none;
  /* width: 100%; */
}

.comment__author-and-input {
  margin: 5px;
  width: 50%;
}

.textarea-wrapper {
  width: 100%;
}

.textarea-wrapper > textarea {
  width: inherit;
}
