.commentItem-container,
.new-comment-container,
.subcomment-container {
  display: flex;
  align-items: center;
  min-height: 90px;
}
.subcomment-container {
  padding: 0px 50px;
}
.comment__avatar {
  max-width: 50px;
  margin: 10px;
}

.comment__author {
  float: left;
}

.comment__date {
  float: right;
}

.comment__input {
  resize: none;
}

.comment__author-and-input {
  margin: 5px;
  width: 50%;
}

.textarea-wrapper {
  width: 100%;
}

.textarea-wrapper > textarea {
  width: inherit;
}
