.header-container {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.logo header {
  float: left;
}

.title-and-socials {
  margin-left: 10px;
}

.social {
  width: 50px;
  margin: 5px;
}

.socials-container {
  text-align: center;
}
