.divisions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.division {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 5px;
  border: 2px solid black;
  height: 35px;
  width: 130px;
}

.division:hover {
  cursor: pointer;
}

.division-logo {
  float: left;
  max-width: 50px;
  margin: 5px;
}
